
.general_btn, .general_btn a {
    color: #888;
    text-shadow: var(--btns-text-shadow);
}

.engine_tr:hover {
    background-color: rgba(78, 193, 78, 0.66);
}
.gobutton:hover {
    background-color: rgb(75, 206, 75);
}

.engine_tr:hover .enginename_td a {  
    text-shadow: 1px 1px #020202, 1px -1px #bdb4b4;
}

.engine_tr:hover .engbtns_td .gobutton {
    color: white;
}
.hist_item:hover { 
    background-color: rgb(225, 230, 244); 
}
