/*
 * By Big Search / 大术专搜
 * (acsearch.ga, acsearch.tk)
 * 
 * All Rights Reserved for This File
 * If want to use this code, welcome ask original author for FLOSS license
 * Before that, please DON'T use unauthorized code
 * 此文件 版权所有 保留所有权利
 * 若要使用代码，欢迎联系原作者获取 自由软件许可
 * 在取得许可前，请勿使用未授权的代码
 * 
 * Source code: https://github.com/garywill/BigSearch
 */

body {
    width: 800px; 
    height: 600px;

    background-image: url(bgaddon.webp);
    overflow-x: hidden;
}

#catas_cont { padding-top:0px; padding-right: 0px; } 
#catabtns_header , #desktop_mobile_cont, #intitle,
#btn_usetip
{ display:none;}

#inputpaste {display:unset;}


#engines_table
{ max-width:400px; min-width:350px;}

#input_o_cont, #input_cont, #inputbox ,
#engines_cont, #engines_o_cont
{ min-width: 400px; width:400px; max-width:400px;}



#hist_td{  padding-left: 20px;padding-top:0px; }
#hist div .hist_entry_span_buttons { right: 0; }

#hist { 
    width: 220px;
    height: 440px;  
}
#hist_tip { display:block;}
#hist div .hist_entry_span_buttons { font-size: 10px; } 

#btmbtns {padding-top: 0px; }
#hot_badge { display:none; }

#footer { padding-top: 20px; display:none; }
