/*
 * By Big Search / 大术专搜
 * (addons.mozilla.org/firefox/addon/big-search/)
 * (acsearch.ga, acsearch.tk)
 * 
 * All Rights Reserved for This File
 * If want to use this code, welcome ask original author for FLOSS license
 * Before that, please DON'T use unauthorized code
 * 此文件 版权所有 保留所有权利
 * 若要使用代码，欢迎联系原作者获取 自由软件许可
 * 在取得许可前，请勿使用未授权的代码
 * 
 * Source code: https://github.com/garywill/BigSearch
 */
:root {
    --above-wrapper: calc( var(--header-nav-span-font-size) + 2 * var(--header-padding-v) + var(--header-margin-bottom) );
    
    --wrapper-height: calc( 100vh - ( var(--above-wrapper) + var(--bottom-padding-top) + var(--general-btn-font-size) ) - 15px );
    
    --engines-o-cont-height-max: calc(var(--wrapper-height) - var(--inputbox-height) - var(--btns-below-input-height) );
    
    --catas-head-height: 0px;
}

body {
    width: 800px; 
    min-height: 600px;

    /*background-image: url(bgaddon.webp);*/
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #93a7d9 white;
}
#bghero::before {
    background-image: url('bgaddon.webp');
}

#catas_cont { 
padding-top:0px; padding-right: 0px; 
    
} 

#catabtns_header , 
#desktop_mobile_cont, #intitle
{ display:none;}

#inputpaste {
display:unset;
    
}


#engines_table
{ max-width:400px; min-width:350px;}

#input_o_cont, #input_cont, #inputbox ,
#engines_cont, #engines_o_cont
{ min-width: 400px; width:400px; max-width:400px;}

body::-webkit-scrollbar {
    width: 4px;  
    height: 0;
}
body::-webkit-scrollbar-thumb {
    background-color:#93a7d9;
}
body::-webkit-scrollbar-track-piece {
    background-color:white;
}


#hist_td{  padding-left: 20px;padding-top:0px; }
#hist div .hist_entry_span_buttons { right: 0; }

#hist { 
    width: 220px;
}
#hist_tip { display:block;}
#hist div .hist_entry_span_buttons { font-size: 10px; } 

#btmbtns {padding-top: 0px; }
#hot_badge { display:none; }

#footer {  display:none; }
